$maincolor: #ee7125;
$textcolor: #FFFFFF;

html {
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
}

form {
    margin-left: 350px;
    .col {
        .form-group {
            input {
                width: 450px;
            }
        }
    }
}

.footer {
    background-color: $maincolor;
    margin-bottom: -50px;
}

.jumbotron {
    background-color: $maincolor;
    img {
        margin-left: 50px;
    }
    .container {
        margin-left: 600px;
        .text-position {
            margin-top: -100px;
        }
    }
}

.navbar {
    background-color: $maincolor;
    img {
        margin-right: 775px;
    }
    .nav {
        .nav-item {
            .nav-link {
                color: $textcolor;
            }
            .dropdown-menu {
                .nav-link{
                    color: $maincolor;
                }
                .dropdown-menu {
                    .dropdown-item {
                        color: $maincolor;
                    }
                }
            }
        }
    }
}